<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_Annotation_Demo:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_Annotation_Demo_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_Annotation_Demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="spring-aop-4.2.0.RELEASE" />
          <element id="library" level="project" name="commons-logging-1.2" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC_Annotation_Demo/web/Web" />
    </root>
  </artifact>
</component>